{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- Current language: {{ LANGUAGE_CODE }} -->
<html>
<head>
<title>{% block title %}{% trans "Research Project: Virtual Solar Power Plant" %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Research project on a virtual Solar Power Plant in the Netherlands" />
<meta name="keywords" content="photovoltaics,solar,power,electricity,virtual" />
<link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>


<div id="language_select">
    <form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="" />
{% if LANGUAGE_CODE == "nl" %}
<input name="language" type="hidden" value="en" />
<input type="submit" value="View this page in English" />
{% else %}
<input name="language" type="hidden" value="nl" />
<input type="submit" value="Bekijk deze Pagina in het Nederlands" />
{% endif %}
</form>
{% if request.user.is_authenticated %}
<a href="/accounts/logout/">{% trans "Log out" %}</a>
{% else %}
<a href="/accounts/login/">{% trans "Log in" %}</a>
{% endif %}
</div>

{% block header %}
<div id="title">{% trans "Virtual PV Plant" %}</div>

<div id="slogan">{% trans "Research on the development of a virtual PV Plant in the Netherlands" %}</div>
{% endblock %}


{% block nav %}
<ul id="nav">
<li><a {% if section == "introduction" %}class="selected"{% endif %} href="/">{% trans "Introduction" %}</a></li>
<li><a {% if section == "prizes" %}class="selected"{% endif %} href="/prizes/">{% trans "Prizes" %}</a></li>
{% if request.user.is_authenticated %}
<li><a {% if section == "profile" %}class="selected"{% endif %} href="/accounts/profile/">{% trans "Profile" %}</a></li>
{% else %}
<li><a {% if section == "register" %}class="selected"{% endif %} href="/accounts/register/">{% trans "Register" %}</a></li>
{% endif %}
<li><a {% if section == "questionnaire" %}class="selected"{% endif %} href="/questionnaire/">{%trans "Questionnaire" %}</a></li>
<li><a {% if section == "about" %}class="selected"{% endif %} href="/about/">{% trans "About" %}</a></li>
</ul>
{% endblock %}


<div id="maincontent">

{% block contents %}{% endblock %}


</div>

{% block footer %}
<div id="footer">

<div id="copyright">
Copyright &copy; 2016 {% trans "Paul Frederiks" %}
</div>

<div id="footercontact">
<a href="/about/#contact">{% trans "Contact" %}</a>
</div>

</div>
{% endblock %}
</body>
</html>


