{% extends "parent.html" %}
{% load i18n %}

{% block contents %}
<p>
{% blocktrans %}
Here you will be able to register as a new respondent.
{% endblocktrans %}
</p>

<h1>{% trans "Register" %}</h1>
{% if form.errors %}
<p class="errors">
{% blocktrans %}
Sorry, your registration could not be processed.
{% endblocktrans %}
</p>
{% endif %}
<table>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
	{{ form.as_table }}
	<tr><td><input type="submit" value="{% trans "Register" %}" /></td></tr>
</form>
</table>

{% endblock %}

